.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: solid 1px #d1d1d1;
  height: 40px;
  gap: 40px;
}

.list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.link {
  display: flex;
  justify-content: flex-end;
  outline-style: none;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: solid 1px #d1d1d1;
}
